@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');
:root{
  --primary-color:#059669;
  --secondary-color:#A7F3D0;
}
.container{
padding: left 1rem;
padding-right: 1rem;
padding-top: 2rem;
padding-bottom: 1rem;
max-width: 600px;
margin:auto;
background-color: var(--secondary-color);
text-align: center;
}
.heading{
  color: var(--primary-color);
}
#birthday-input{
  margin: auto;
}
#output{
  color: var(--primary-color);
}
